<h1>Youpon - Prototype 3</h1>
<p>Home page placeholder</p>
<p>These links are for testing purposes.  This is not the intended UI!</p>
<tr>
	<td><%= link_to "Users", users_path %></td>
	<td><%= link_to "Merchants", merchants_path %></td>
	<td><%= link_to "Offers", offers_path %></td>
</tr>