<!DOCTYPE html>
<html>
	<head>
		<title>Youpon | <%= @title %></title>
	</head>
	<body>
		<h1>Youpon - Prototype 3</h1>
		<p>
			This is the home page for Youpon.  It is currently under development.
		</p>
	</body>
</html>